.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    visualization {
        grid-column: span 2;
        grid-row: span 2;
    }


    .right-panel {
        grid-row: span 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        & > * {
            padding: 5px;
        }
    }
}