

<div class="grid-container">

    <run-panel class="app-item"></run-panel>
    <div class="container">
        <visualization class="app-item"></visualization>
        <div class="right-panel-content">

            <div class="grouped-right-panel">
                <stats-dashboard class="app-item"></stats-dashboard>
                <control-panel class="app-item"></control-panel>
            </div>
            <information-panel class="app-item"></information-panel>
        </div>
    </div>
</div>