.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-stretch: expanded;
        font-size: 3rem;
        color: rgba($color: #101010, $alpha: 0.8);

        .statistic {
            display: flex;
            align-self: center;
            padding-left: 1rem;
            padding-right: 1rem;

            label, div {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }

        #deadValue {
            color: darkred;
        }



    }
}